{% extends "dashboard.html" %}



{%block content%}

<div class="info-wrapper">
    <div class="myankets">
        {%if anketlerim%}
            {% for anket in anketlerim %}
            <form action="{{ url_for('process.remove_myanket') }}" method="POST">
                <div class="myanket">
                    <input name="myanket_id" type="hidden" value="{{ anket.id }}">
                    {% if anket['picture'] %}
                        <img src="{{ url_for('static', filename='anketImages/' + anket['picture']) }}" width="150px">
                    {%endif%}
                    <h2>{{anket['title']}}</h2>
                    {%if anket['is_private'] == 1 %}
                        <label>Yayın Tipi = Link ile erişim</label>
                    {%else%}
                        <label>Yayın Tipi = Herkese açık</label>
                    {%endif%}
                    <p>{{anket['description']}}</p>
                    <input type="submit" value="Anketi Kaldır">
                    {%if anket['is_private'] == 1 %}
                        <button>Link Al</button>
                    {%endif%}
                </div>
            </form>
            {% endfor %}
        {%else%}
            <p>Henüz bir anket oluşturmadınız</p>
        {%endif%}
        
    </div>
    
</div>

<br><br><br><br>
{% endblock %}

